@keyframes transitionIn {

    from {
opacity: 0;
transform: rotateX(-10deg);

    }

    to {
        opacity: 1;
        transform: rotateX(0);

    }
}


@keyframes transition5 {

    from {

        color: black;
        width: 70px;
        height: 70px;

    }

    to {

        color: whitesmoke;
        width: 80px;
        height: 70px;

    }
}


@keyframes transition6 {

    from {

        color: whitesmoke;
        width: 80px;
        height: 70px;

    }

    to {

        color: black;
        width: 70px;
        height: 70px;

    }

}




body {
    
    background: url(/resources/3898677.png) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    animation: transitionIn 1s;
    
}


@keyframes transition2 {

    from {
       
        background-color: rgb(78, 193, 78);

    }

    to {

        background-color: #90de76;

    }
}

/* Starting from navbar ul until navbar ul hover is the navigation Bar*/



.navbar ul {

list-style: none;
background: rgb(255, 255, 255, 0.727);
padding: 0;
margin: 0;
text-align: center;





}

.navbar li {

display: inline-block;

}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    width: 100px;
    display: block;
    padding: 35px 30px;
    padding-left: 125px;
    padding-right: 150px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    

}

.navbar a:hover {
    background: #90de76;
    animation: transition2 1s;
}

.Header {

    text-align: center;
    margin-top: 75px;
    font-size: 70px;
    font-weight: 0;
    text-transform: uppercase;

}


.H1  {

    text-align: center;
    margin-top: 50px;
    font-size: 40px;

}




.Facebook {
    color: black;
    width: 70px;
    height: 70px;
    animation: transition6 0.5s;
    position: static;
    margin-right: 0;
    margin-left: 0px;
    
    
    
    
}

.PicDiv {

    display: flex;
justify-content: center;

}

.Facebook:hover {

    animation: transition5 0.5s;
    color: whitesmoke;
    width: 80px;
    height: 70px;
    position: static;
    

}



.Behance {
    color: black;
    width: 70px;
    height: 70px;
    animation: transition6 0.5s;
    position: static;
    margin-left: 140px;
}

.Behance:hover {

    animation: transition5 0.5s;
    color: whitesmoke;
    width: 80px;
    height: 70px;
    position: static;
}


.Mail {

    color: black;
    width: 70px;
    height: 70px;
    animation: transition6 0.5s;
    position: static;
    margin-left: 140px;

}

.Mail:hover {

    animation: transition5 0.5s;
    color: whitesmoke;
    width: 80px;
    height: 70px;
    position: static;

}

.Fiverr {

    color: black;
    width: 70px;
    height: 70px;
    animation: transition6 0.5s;
    position: static;
    margin-left: 140px;

}

.Fiverr:hover {

    animation: transition5 0.5s;
    color: whitesmoke;
    width: 80px;
    height: 70px;
    position: static;
    

}

.Footer {

    margin-top: 170px;
    font-size: larger;
    margin-left: 10px;
    
}
    
.Footer:hover {
    
        margin-top: 130px;
        font-size: larger;
        margin-left: 10px;
        color: rgb(72, 209, 17);
        
}




