@keyframes transitionIn {

    from {
opacity: 0;
transform: rotateX(-10deg);

    }

    to {
        opacity: 1;
        transform: rotateX(0);

    }
}

@keyframes transition1 {

    from {
        width: 241px;
        position: static;
    }

    to {
        width: 275px;
        position: static;

    }
}

@keyframes transition2 {

    from {
        width: 275px;
        position: static;
    }

    to {
        width: 241px;
        position: static;
    }
}

@keyframes transition3 {

    from {
       
        background-color: rgb(78, 193, 78);

    }

    to {

        background-color: #90de76;

    }
}
body {
    background: url(/resources/3898677.png) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    animation: transitionIn 1s;
}

/* Starting from navbar ul until navbar ul hover is the navigation Bar*/

.navbar ul {

list-style: none;
background: rgba(255, 255, 255, 0.727);
padding: 0;
margin: 0;
text-align: center;

}

.navbar li {

display: inline-block;

}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    width: 100px;
    display: block;
    padding: 35px 30px;
    padding-left: 125px;
    padding-right: 150px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;

}

.navbar a:hover {
    background: #90de76;
    animation: transition3 1s;
}


.Paragraph {

text-align: center;
padding-top: 50px;
font-size: 40px;
flex-wrap: wrap;


}


.Paragraph2 {

    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    flex-wrap: wrap;
    
    
    }



.Projects {

text-decoration: none;
color: black;


}


.Contact {

    text-decoration: none;
    color: black;
    
    
    }




.Footer {

        margin-top: 85px;
        font-size: larger;
        margin-left: 10px;
        
}
        
.Footer:hover {
        
            
            font-size: larger;
            margin-left: 10px;
            color: rgb(72, 209, 17);
            
 }



.PicDiv {

display: flex;
justify-content: space-around;
margin-top: 100px;



}

.Picture {
    animation: transition2 1s;
}

.Picture:hover {
    position: static;
    width: 275px;
    animation: transition1 1s;
}

