@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300,400,500,700&display=swap');


*{
    
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  outline: none;
  


}

:root {
  --main-color: #6edb9a;
  --blue: #4d8e50;
  --blue-dark: #18293c;
  --orange: #ffa500;
  --green-yellow: #8cff00;
  --pink-light: #7be08c;
  --cyan-light: #5ae4dd;
  --white: #fff;
  --white-alpha-40: rgba(255,255,255, 0.40);
  --white-alpha-25: rgba(255,255,255, 0.25);
  --backdrop-filter-blur: blur(40px);
  --box-shadow: 0 10px 20px rgb(0 0 0 / 50%)
}

/* Navgation*/ 

.Header{
  z-index: 1;
  width: 99%;
  height: 80px;
  background-color: rgb(81, 127, 166);
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 6px;
  border-radius: 30px;
  filter: drop-shadow(-5px 10px 20px rgba(0,0,0,0.5));
  position: sticky;
}

.Header .logo{
  width: 50px;
  height: 50px;
  background-color: #18293c;
  border-radius: 50px;
  margin-left: 10px;
}


img{
  max-width: 100%;
  vertical-align: middle;
}

.Header h1{
  margin: 20px;
}

#Secondtext {

  color: #3c9fe1;

}

.Navigation a {

color: rgb(255, 255, 255);
text-decoration: none;
font-size: 1.3em;
padding-left: 70px;
padding-bottom: 0px;


}

.Header .search {
  width: 500px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(206, 205, 205);
  margin-left: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header .search input{
  background-color: rgba(255, 255, 255, 0);
  border: solid 3px rgba(255, 255, 255, 0);
  width: 450px;
  font-size: 17px;
}

.Navigation {

  margin-left: 10px;

}

